* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    font-size: 62.5%;
}

.container {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin: 0.5rem;
    justify-content: space-between;
    
}
.div1, .div2, .div7 {
    width: 100%;
    height: 10rem;
    border-radius: 0.5rem;
}
.div3, .div4, .div5 {
    height: 10rem;
}
.div6 {
    height: auto;
    width: 100%;
}

.div1 {
    background-color: aqua;
}
.div2 {
    background-color: rgb(82, 255, 105);
}
.div3 {
    background-color: rgb(245, 255, 109);
}
.div4 {
    background-color: rgb(115, 85, 247);
}
.div5 {
    background-color: rgb(245, 124, 219);
}
.div7 {
    background-color: rgb(255, 106, 106);
}