* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

header {
    position: relative;
    display: block;
    padding: 1rem;
    background-color: aqua;
    border: inset blue;
}
figure, ul, li {
    position: relative;
    display: inline-block;
    list-style: none;
}
nav, ul {
    position: relative;
    display: inline-block;
    left: 65%;
    list-style: none;
    text-decoration: none;
}

main {
    position: relative;
    height: 64rem;
    width: auto;
    background-color: rgb(143, 248, 166);
}
aside {
    display: inline-block;
    height: 100%;
    width: 25%;
    background-color: rgb(248, 106, 106);
}
aside div {
    height: 15%;
    margin: 7%;
    background-color: azure;
    border-radius: 1rem;
    padding: 17.5%;
    text-align: center;
}
section {
    position: absolute;
    display: inline-block;
    height: 100%;
    width: 75%;
    background-color: rgb(143, 84, 202);
}
footer {
    background-color: cornflowerblue;
    width: auto;
}
footer div {
    position: relative;
    display: inline-block;
    width: 49.7%;
}
